### Creating relations in SQLite

#### In this project we will use the cleaned data from the previous mission and work mainly in SQL. We will use SQL to transform the nominations tables into new tables, and create relations across these tables.

#### First let's take a look at the table's schema and the first ten rows.

In [1]:
import sqlite3
conn = sqlite3.connect("nominations.db")
cursor = conn.cursor()

#use command line ls to show all the files then use rm command to remove the databse

In [2]:
q1 = '''
PRAGMA table_info(nominations)
'''

schema = cursor.execute(q1).fetchall()

In [3]:
q2 = '''
SELECT * FROM nominations LIMIT 10
'''

first_ten = cursor.execute(q2).fetchall()
first_ten

for item in first_ten:
    print(item)

(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

In [4]:
for item in schema:
    print(item)

(0, 'Year', 'INTEGER', 0, None, 0)
(1, 'Category', 'TEXT', 0, None, 0)
(2, 'Nominee', 'TEXT', 0, None, 0)
(3, 'Won', 'INTEGER', 0, None, 0)
(4, 'Movie', 'TEXT', 0, None, 0)
(5, 'Character', 'TEXT', 0, None, 0)

#### We want to create a new table within the databse named "ceremonies". This table will have the Year and the Host only

In [5]:
q3 = '''
    CREATE TABLE ceremonies (
    id INTEGER primary key,
    Year INTEGER,
    Host TEXT
);
'''

years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]
insert_query = "INSERT INTO ceremonies (Year, Host) VALUES (?, ?)"

In [6]:
conn.execute(q3)

#The .executemany() method allows us to perform many insert commands at once, until the list ends
conn.executemany(insert_query, years_hosts)

#### Let's check out the table we just created .

In [7]:
q4 = "SELECT * FROM ceremonies LIMIT 10"
q5 = "PRAGMA table_info(ceremonies)"

result = cursor.execute(q4)
result = result.fetchall()
result

[(1, 2010, 'Steve Martin'),
 (2, 2009, 'Hugh Jackman'),
 (3, 2008, 'Jon Stewart'),
 (4, 2007, 'Ellen DeGeneres'),
 (5, 2006, 'Jon Stewart'),
 (6, 2005, 'Chris Rock'),
 (7, 2004, 'Billy Crystal'),
 (8, 2003, 'Steve Martin'),
 (9, 2002, 'Whoopi Goldberg'),
 (10, 2001, 'Steve Martin')]

In [8]:
result = cursor.execute(q5)
result = result.fetchall()
result

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'Year', 'INTEGER', 0, None, 0),
 (2, 'Host', 'TEXT', 0, None, 0)]

#### We want to avoid editing the original table. So let's make a new nominations table, but this time we'll include the ceremony_id as a foriegn key.

In [9]:
q6 = "PRAGMA foreign_keys = ON;"
cursor.execute(q6)

In [10]:
q7 = '''
    CREATE TABLE nominations_two (
    id integer primary key,
    category text,
    nominee text,
    movie text,
    character text,
    won integer,
    ceremony_id integer,
    foreign key(ceremony_id) references ceremonies(id)
);
'''

#Query to be inserted into the new table
insert_query2 = "INSERT INTO nominations_two (category, nominee, movie, character, won, ceremony_id) VALUES (?, ?, ?, ?, ?, ?)"

In [11]:
cursor.execute(q7)

#### We'll need a list of tuples, we can do this by writing a query and setting the results to a list.

In [12]:
q8 = '''
SELECT nominations.category, nominations.nominee, nominations.movie, nominations.character, nominations.won, ceremonies.id
FROM nominations
INNER JOIN ceremonies
ON nominations.year == ceremonies.year
'''
#returns a list of tuples
joined_nominations = cursor.execute(q8).fetchall()
joined_nominations

[('Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 1),
 ('Actor -- Leading Role',
  'Jeff Bridges',
  'True Grit',
  'Rooster Cogburn',
  0,
  1),
 ('Actor -- Leading Role',
  'Jesse Eisenberg',
  'The Social Network',
  'Mark Zuckerberg',
  0,
  1),
 ('Actor -- Leading Role',
  'Colin Firth',
  "The King's Speech",
  'King George VI',
  1,
  1),
 ('Actor -- Leading Role', 'James Franco', '127 Hours', 'Aron Ralston', 0, 1),
 ('Actor -- Supporting Role',
  'Christian Bale',
  'The Fighter',
  'Dicky Eklund',
  1,
  1),
 ('Actor -- Supporting Role',
  'John Hawkes',
  "Winter's Bone",
  'Teardrop',
  0,
  1),
 ('Actor -- Supporting Role',
  'Jeremy Renner',
  'The Town',
  'James Coughlin',
  0,
  1),
 ('Actor -- Supporting Role',
  'Mark Ruffalo',
  'The Kids Are All Right',
  'Paul',
  0,
  1),
 ('Actor -- Supporting Role',
  'Geoffrey Rush',
  "The King's Speech",
  'Lionel Logue',
  0,
  1),
 ('Actress -- Leading Role',
  'Annette Bening',
  'The Kids Are All Right',
  'Nic',
  0,
  1),
 ('Actress -- Leading Role', 'Nicole Kidman', 'Rabbit Hole', 'Becca', 0, 1),
 ('Actress -- Leading Role',
  'Jennifer Lawrence',
  "Winter's Bone",
  'Ree',
  0,
  1),
 ('Actress -- Leading Role',
  'Natalie Portman',
  'Black Swan',
  'Nina Sayers/The Swan Queen',
  1,
  1),
 ('Actress -- Leading Role',
  'Michelle Williams',
  'Blue Valentine',
  'Cindy',
  0,
  1),
 ('Actress -- Supporting Role',
  'Amy Adams',
  'The Fighter',
  'Charlene Fleming',
  0,
  1),
 ('Actress -- Supporting Role',
  'Helena Bonham Carter',
  "The King's Speech",
  'Queen Elizabeth',
  0,
  1),
 ('Actress -- Supporting Role',
  'Melissa Leo',
  'The Fighter',
  'Alice Ward',
  1,
  1),
 ('Actress -- Supporting Role',
  'Hailee Steinfeld',
  'True Grit',
  'Mattie Ross',
  0,
  1),
 ('Actress -- Supporting Role',
  'Jacki Weaver',
  'Animal Kingdom',
  "Janine 'Smurf' Cody",
  0,
  1),
 ('Actor -- Leading Role', 'Jeff Bridges', 'Crazy Heart', 'Bad Blake', 1, 2),
 ('Actor -- Leading Role',
  'George Clooney',
  'Up in the Air',
  'Ryan Bingham',
  0,
  2),
 ('Actor -- Leading Role', 'Colin Firth', 'A Single Man', 'George', 0, 2),
 ('Actor -- Leading Role',
  'Morgan Freeman',
  'Invictus',
  'Nelson Mandela',
  0,
  2),
 ('Actor -- Leading Role',
  'Jeremy Renner',
  'The Hurt Locker',
  'Staff Sergeant William James',
  0,
  2),
 ('Actor -- Supporting Role',
  'Matt Damon',
  'Invictus',
  'Francois Pienaar',
  0,
  2),
 ('Actor -- Supporting Role',
  'Woody Harrelson',
  'The Messenger',
  'Captain Tony Stone',
  0,
  2),
 ('Actor -- Supporting Role',
  'Christopher Plummer',
  'The Last Station',
  'Tolstoy',
  0,
  2),
 ('Actor -- Supporting Role',
  'Stanley Tucci',
  'The Lovely Bones',
  'George Harvey',
  0,
  2),
 ('Actor -- Supporting Role',
  'Christoph Waltz',
  'Inglourious Basterds',
  'Col. Hans Landa',
  1,
  2),
 ('Actress -- Leading Role',
  'Sandra Bullock',
  'The Blind Side',
  'Leigh Anne Tuohy',
  1,
  2),
 ('Actress -- Leading Role',
  'Helen Mirren',
  'The Last Station',
  'Sofya',
  0,
  2),
 ('Actress -- Leading Role', 'Carey Mulligan', 'An Education', 'Jenny', 0, 2),
 ('Actress -- Leading Role',
  'Gabourey Sidibe',
  "Precious: Based on the Novel 'Push' by Sapphire",
  'Precious',
  0,
  2),
 ('Actress -- Leading Role',
  'Meryl Streep',
  'Julie & Julia',
  'Julia Child',
  0,
  2),
 ('Actress -- Supporting Role', 'Penélope Cruz', 'Nine', 'Carla', 0, 2),
 ('Actress -- Supporting Role',
  'Vera Farmiga',
  'Up in the Air',
  'Alex Goran',
  0,
  2),
 ('Actress -- Supporting Role',
  'Maggie Gyllenhaal',
  'Crazy Heart',
  'Jean Craddock',
  0,
  2),
 ('Actress -- Supporting Role',
  'Anna Kendrick',
  'Up in the Air',
  'Natalie Keener',
  0,
  2),
 ('Actress -- Supporting Role',
  "Mo'Nique",
  "Precious: Based on the Novel 'Push' by Sapphire",
  'Mary',
  1,
  2),
 ('Actor -- Leading Role', 'Richard Jenkins', 'The Visitor', 'Walter', 0, 3),
 ('Actor -- Leading Role',
  'Frank Langella',
  'Frost/Nixon',
  'Richard Nixon',
  0,
  3),
 ('Actor -- Leading Role', 'Sean Penn', 'Milk', 'Harvey Milk', 1, 3),
 ('Actor -- Leading Role',
  'Brad Pitt',
  'The Curious Case of Benjamin Button',
  'Benjamin Button',
  0,
  3),
 ('Actor -- Leading Role', 'Mickey Rourke', 'The Wrestler', 'Randy', 0, 3),
 ('Actor -- Supporting Role', 'Josh Brolin', 'Milk', 'Dan White', 0, 3),
 ('Actor -- Supporting Role',
  'Robert Downey Jr.',
  'Tropic Thunder',
  'Kirk Lazarus',
  0,
  3),
 ('Actor -- Supporting Role',
  'Philip Seymour Hoffman',
  'Doubt',
  'Father Brendan Flynn',
  0,
  3),
 ('Actor -- Supporting Role',
  'Heath Ledger',
  'The Dark Knight',
  'Joker',
  1,
  3),
 ('Actor -- Supporting Role',
  'Michael Shannon',
  'Revolutionary Road',
  'John Givings',
  0,
  3),
 ('Actress -- Leading Role',
  'Anne Hathaway',
  'Rachel Getting Married',
  'Kym',
  0,
  3),
 ('Actress -- Leading Role',
  'Angelina Jolie',
  'Changeling',
  'Christine Collins',
  0,
  3),
 ('Actress -- Leading Role', 'Melissa Leo', 'Frozen River', 'Ray Eddy', 0, 3),
 ('Actress -- Leading Role',
  'Meryl Streep',
  'Doubt',
  'Sister Aloysius Beauvier',
  0,
  3),
 ('Actress -- Leading Role',
  'Kate Winslet',
  'The Reader',
  'Hanna Schmitz',
  1,
  3),
 ('Actress -- Supporting Role', 'Amy Adams', 'Doubt', 'Sister James', 0, 3),
 ('Actress -- Supporting Role',
  'Penélope Cruz',
  'Vicky Cristina Barcelona',
  'Maria Elena',
  1,
  3),
 ('Actress -- Supporting Role', 'Viola Davis', 'Doubt', 'Mrs. Miller', 0, 3),
 ('Actress -- Supporting Role',
  'Taraji P. Henson',
  'The Curious Case of Benjamin Button',
  'Queenie',
  0,
  3),
 ('Actress -- Supporting Role',
  'Marisa Tomei',
  'The Wrestler',
  'Cassidy',
  0,
  3),
 ('Actor -- Leading Role',
  'George Clooney',
  'Michael Clayton',
  'Michael Clayton',
  0,
  4),
 ('Actor -- Leading Role',
  'Daniel Day-Lewis',
  'There Will Be Blood',
  'Daniel Plainview',
  1,
  4),
 ('Actor -- Leading Role',
  'Johnny Depp',
  'Sweeney Todd The Demon Barber of Fleet Street',
  'Sweeney Todd',
  0,
  4),
 ('Actor -- Leading Role',
  'Tommy Lee Jones',
  'In the Valley of Elah',
  'Hank Deerfield',
  0,
  4),
 ('Actor -- Leading Role',
  'Viggo Mortensen',
  'Eastern Promises',
  'Nikolai',
  0,
  4),
 ('Actor -- Supporting Role',
  'Casey Affleck',
  'The Assassination of Jesse James by the Coward Robert Ford',
  'Robert Ford',
  0,
  4),
 ('Actor -- Supporting Role',
  'Javier Bardem',
  'No Country for Old Men',
  'Anton Chigurh',
  1,
  4),
 ('Actor -- Supporting Role',
  'Philip Seymour Hoffman',
  "Charlie Wilson's War",
  'Gust Avrakotos',
  0,
  4),
 ('Actor -- Supporting Role',
  'Hal Holbrook',
  'Into the Wild',
  'Ron Franz',
  0,
  4),
 ('Actor -- Supporting Role',
  'Tom Wilkinson',
  'Michael Clayton',
  'Arthur Edens',
  0,
  4),
 ('Actress -- Leading Role',
  'Cate Blanchett',
  'Elizabeth: The Golden Age',
  'Queen Elizabeth I',
  0,
  4),
 ('Actress -- Leading Role', 'Julie Christie', 'Away from Her', 'Fiona', 0, 4),
 ('Actress -- Leading Role',
  'Marion Cotillard',
  'La Vie en Rose',
  'Edith Piaf',
  1,
  4),
 ('Actress -- Leading Role',
  'Laura Linney',
  'The Savages',
  'Wendy Savage',
  0,
  4),
 ('Actress -- Leading Role', 'Ellen Page', 'Juno', 'Juno MacGuff', 0, 4),
 ('Actress -- Supporting Role',
  'Cate Blanchett',
  "I'm Not There",
  'Jude',
  0,
  4),
 ('Actress -- Supporting Role',
  'Ruby Dee',
  'American Gangster',
  'Mama Lucas',
  0,
  4),
 ('Actress -- Supporting Role',
  'Saoirse Ronan',
  'Atonement',
  'Briony Tallis, aged 13',
  0,
  4),
 ('Actress -- Supporting Role',
  'Amy Ryan',
  'Gone Baby Gone',
  'Helene McCready',
  0,
  4),
 ('Actress -- Supporting Role',
  'Tilda Swinton',
  'Michael Clayton',
  'Karen Crowder',
  1,
  4),
 ('Actor -- Leading Role',
  'Leonardo DiCaprio',
  'Blood Diamond',
  'Danny Archer',
  0,
  5),
 ('Actor -- Leading Role', 'Ryan Gosling', 'Half Nelson', 'Dan Dunne', 0, 5),
 ('Actor -- Leading Role', "Peter O'Toole", 'Venus', 'Maurice', 0, 5),
 ('Actor -- Leading Role',
  'Will Smith',
  'The Pursuit of Happyness',
  'Chris Gardner',
  0,
  5),
 ('Actor -- Leading Role',
  'Forest Whitaker',
  'The Last King of Scotland',
  'Idi Amin',
  1,
  5),
 ('Actor -- Supporting Role',
  'Alan Arkin',
  'Little Miss Sunshine',
  'Grandpa',
  1,
  5),
 ('Actor -- Supporting Role',
  'Jackie Earle Haley',
  'Little Children',
  'Ronnie J. McGorvey',
  0,
  5),
 ('Actor -- Supporting Role',
  'Djimon Hounsou',
  'Blood Diamond',
  'Solomon Vandy',
  0,
  5),
 ('Actor -- Supporting Role',
  'Eddie Murphy',
  'Dreamgirls',
  "James 'Thunder' Early",
  0,
  5),
 ('Actor -- Supporting Role', 'Mark Wahlberg', 'The Departed', 'Dignam', 0, 5),
 ('Actress -- Leading Role', 'Penélope Cruz', 'Volver', 'Raimunda', 0, 5),
 ('Actress -- Leading Role',
  'Judi Dench',
  'Notes on a Scandal',
  'Barbara Covett',
  0,
  5),
 ('Actress -- Leading Role', 'Helen Mirren', 'The Queen', 'The Queen', 1, 5),
 ('Actress -- Leading Role',
  'Meryl Streep',
  'The Devil Wears Prada',
  'Miranda Priestly',
  0,
  5),
 ('Actress -- Leading Role',
  'Kate Winslet',
  'Little Children',
  'Sarah Pierce',
  0,
  5),
 ('Actress -- Supporting Role', 'Adriana Barraza', 'Babel', 'Amelia', 0, 5),
 ('Actress -- Supporting Role',
  'Cate Blanchett',
  'Notes on a Scandal',
  'Sheba Hart',
  0,
  5),
 ('Actress -- Supporting Role',
  'Abigail Breslin',
  'Little Miss Sunshine',
  'Olive',
  0,
  5),
 ('Actress -- Supporting Role',
  'Jennifer Hudson',
  'Dreamgirls',
  'Effie White',
  1,
  5),
 ('Actress -- Supporting Role', 'Rinko Kikuchi', 'Babel', 'Chieko', 0, 5),
 ('Actor -- Leading Role',
  'Philip Seymour Hoffman',
  'Capote',
  'Truman Capote',
  1,
  6),
 ('Actor -- Leading Role', 'Terrence Howard', 'Hustle & Flow', 'DJay', 0, 6),
 ('Actor -- Leading Role',
  'Heath Ledger',
  'Brokeback Mountain',
  'Ennis Del Mar',
  0,
  6),
 ('Actor -- Leading Role',
  'Joaquin Phoenix',
  'Walk the Line',
  'John R. Cash',
  0,
  6),
 ('Actor -- Leading Role',
  'David Strathairn',
  'Good Night, and Good Luck.',
  'Edward R. Murrow',
  0,
  6),
 ('Actor -- Supporting Role', 'George Clooney', 'Syriana', 'Bob Barnes', 1, 6),
 ('Actor -- Supporting Role', 'Matt Dillon', 'Crash', 'Officer Ryan', 0, 6),
 ('Actor -- Supporting Role',
  'Paul Giamatti',
  'Cinderella Man',
  'Joe Gould',
  0,
  6),
 ('Actor -- Supporting Role',
  'Jake Gyllenhaal',
  'Brokeback Mountain',
  'Jack Twist',
  0,
  6),
 ('Actor -- Supporting Role',
  'William Hurt',
  'A History of Violence',
  'Richie Cusack',
  0,
  6),
 ('Actress -- Leading Role',
  'Judi Dench',
  'Mrs. Henderson Presents',
  'Mrs. Laura Henderson',
  0,
  6),
 ('Actress -- Leading Role', 'Felicity Huffman', 'Transamerica', 'Bree', 0, 6),
 ('Actress -- Leading Role',
  'Keira Knightley',
  'Pride & Prejudice',
  'Elizabeth Bennet',
  0,
  6),
 ('Actress -- Leading Role',
  'Charlize Theron',
  'North Country',
  'Josey Aimes',
  0,
  6),
 ('Actress -- Leading Role',
  'Reese Witherspoon',
  'Walk the Line',
  'June Carter',
  1,
  6),
 ('Actress -- Supporting Role', 'Amy Adams', 'Junebug', 'Ashley', 0, 6),
 ('Actress -- Supporting Role',
  'Catherine Keener',
  'Capote',
  'Nelle Harper Lee',
  0,
  6),
 ('Actress -- Supporting Role',
  'Frances McDormand',
  'North Country',
  'Glory',
  0,
  6),
 ('Actress -- Supporting Role',
  'Rachel Weisz',
  'The Constant Gardener',
  'Tessa Quayle',
  1,
  6),
 ('Actress -- Supporting Role',
  'Michelle Williams',
  'Brokeback Mountain',
  'Alma',
  0,
  6),
 ('Actor -- Leading Role',
  'Don Cheadle',
  'Hotel Rwanda',
  'Paul Rusesabagina',
  0,
  7),
 ('Actor -- Leading Role',
  'Johnny Depp',
  'Finding Neverland',
  'Sir James Matthew Barrie',
  0,
  7),
 ('Actor -- Leading Role',
  'Leonardo DiCaprio',
  'The Aviator',
  'Howard Hughes',
  0,
  7),
 ('Actor -- Leading Role',
  'Clint Eastwood',
  'Million Dollar Baby',
  'Frankie Dunn',
  0,
  7),
 ('Actor -- Leading Role', 'Jamie Foxx', 'Ray', 'Ray Charles', 1, 7),
 ('Actor -- Supporting Role',
  'Alan Alda',
  'The Aviator',
  'Senator Ralph Owen Brewster',
  0,
  7),
 ('Actor -- Supporting Role', 'Thomas Haden Church', 'Sideways', 'Jack', 0, 7),
 ('Actor -- Supporting Role', 'Jamie Foxx', 'Collateral', 'Max', 0, 7),
 ('Actor -- Supporting Role',
  'Morgan Freeman',
  'Million Dollar Baby',
  'Eddie Scrap-Iron Dupris',
  1,
  7),
 ('Actor -- Supporting Role', 'Clive Owen', 'Closer', 'Larry', 0, 7),
 ('Actress -- Leading Role',
  'Annette Bening',
  'Being Julia',
  'Julia Lambert',
  0,
  7),
 ('Actress -- Leading Role',
  'Catalina Sandino Moreno',
  'Maria Full of Grace',
  'Maria',
  0,
  7),
 ('Actress -- Leading Role', 'Imelda Staunton', 'Vera Drake', 'Vera', 0, 7),
 ('Actress -- Leading Role',
  'Hilary Swank',
  'Million Dollar Baby',
  'Maggie Fitzgerald',
  1,
  7),
 ('Actress -- Leading Role',
  'Kate Winslet',
  'Eternal Sunshine of the Spotless Mind',
  'Clementine Kruczynski',
  0,
  7),
 ('Actress -- Supporting Role',
  'Cate Blanchett',
  'The Aviator',
  'Katharine Hepburn',
  1,
  7),
 ('Actress -- Supporting Role',
  'Laura Linney',
  'Kinsey',
  'Clara McMillen',
  0,
  7),
 ('Actress -- Supporting Role', 'Virginia Madsen', 'Sideways', 'Maya', 0, 7),
 ('Actress -- Supporting Role',
  'Sophie Okonedo',
  'Hotel Rwanda',
  'Tatiana Rusesabagina',
  0,
  7),
 ('Actress -- Supporting Role', 'Natalie Portman', 'Closer', 'Alice', 0, 7),
 ('Actor -- Leading Role',
  'Johnny Depp',
  'Pirates of the Caribbean: The Curse of the Black Pearl',
  'Jack Sparrow',
  0,
  8),
 ('Actor -- Leading Role',
  'Ben Kingsley',
  'House of Sand and Fog',
  'Behrani',
  0,
  8),
 ('Actor -- Leading Role', 'Jude Law', 'Cold Mountain', 'Inman', 0, 8),
 ('Actor -- Leading Role',
  'Bill Murray',
  'Lost in Translation',
  'Bob Harris',
  0,
  8),
 ('Actor -- Leading Role', 'Sean Penn', 'Mystic River', 'Jimmy Markum', 1, 8),
 ('Actor -- Supporting Role',
  'Alec Baldwin',
  'The Cooler',
  'Shelly Kaplow',
  0,
  8),
 ('Actor -- Supporting Role',
  'Benicio Del Toro',
  '21 Grams',
  'Jack Jordan',
  0,
  8),
 ('Actor -- Supporting Role', 'Djimon Hounsou', 'In America', 'Mateo', 0, 8),
 ('Actor -- Supporting Role',
  'Tim Robbins',
  'Mystic River',
  'Dave Boyle',
  1,
  8),
 ('Actor -- Supporting Role',
  'Ken Watanabe',
  'The Last Samurai',
  'Katsumoto',
  0,
  8),
 ('Actress -- Leading Role',
  'Keisha Castle-Hughes',
  'Whale Rider',
  'Paikea',
  0,
  8),
 ('Actress -- Leading Role',
  'Diane Keaton',
  "Something's Gotta Give",
  'Erica Barry',
  0,
  8),
 ('Actress -- Leading Role', 'Samantha Morton', 'In America', 'Sarah', 0, 8),
 ('Actress -- Leading Role',
  'Charlize Theron',
  'Monster',
  'Aileen Wuornos',
  1,
  8),
 ('Actress -- Leading Role', 'Naomi Watts', '21 Grams', 'Cristina Peck', 0, 8),
 ('Actress -- Supporting Role',
  'Shohreh Aghdashloo',
  'House of Sand and Fog',
  'Nadi',
  0,
  8),
 ('Actress -- Supporting Role',
  'Patricia Clarkson',
  'Pieces of April',
  'Joy Burns',
  0,
  8),
 ('Actress -- Supporting Role',
  'Marcia Gay Harden',
  'Mystic River',
  'Celeste Boyle',
  0,
  8),
 ('Actress -- Supporting Role', 'Holly Hunter', 'Thirteen', 'Melanie', 0, 8),
 ('Actress -- Supporting Role',
  'Renée Zellweger',
  'Cold Mountain',
  'Ruby Thewes',
  1,
  8),
 ('Actor -- Leading Role',
  'Adrien Brody',
  'The Pianist',
  'Wladyslaw Szpilman',
  1,
  9),
 ('Actor -- Leading Role',
  'Nicolas Cage',
  'Adaptation',
  'Charlie Kaufman & Donald Kaufman',
  0,
  9),
 ('Actor -- Leading Role',
  'Michael Caine',
  'The Quiet American',
  'Thomas Fowler',
  0,
  9),
 ('Actor -- Leading Role',
  'Daniel Day-Lewis',
  'Gangs of New York',
  "Bill 'The Butcher' Cutting",
  0,
  9),
 ('Actor -- Leading Role',
  'Jack Nicholson',
  'About Schmidt',
  'Warren Schmidt',
  0,
  9),
 ('Actor -- Supporting Role',
  'Chris Cooper',
  'Adaptation',
  'John Laroche',
  1,
  9),
 ('Actor -- Supporting Role', 'Ed Harris', 'The Hours', 'Richard Brown', 0, 9),
 ('Actor -- Supporting Role',
  'Paul Newman',
  'Road to Perdition',
  'John Rooney',
  0,
  9),
 ('Actor -- Supporting Role', 'John C. Reilly', 'Chicago', 'Amos Hart', 0, 9),
 ('Actor -- Supporting Role',
  'Christopher Walken',
  'Catch Me If You Can',
  'Frank Abagnale',
  0,
  9),
 ('Actress -- Leading Role', 'Salma Hayek', 'Frida', 'Frida Kahlo', 0, 9),
 ('Actress -- Leading Role',
  'Nicole Kidman',
  'The Hours',
  'Virginia Woolf',
  1,
  9),
 ('Actress -- Leading Role',
  'Diane Lane',
  'Unfaithful',
  'Connie Sumner',
  0,
  9),
 ('Actress -- Leading Role',
  'Julianne Moore',
  'Far from Heaven',
  'Cathy Whitaker',
  0,
  9),
 ('Actress -- Leading Role', 'Renée Zellweger', 'Chicago', 'Roxie Hart', 0, 9),
 ('Actress -- Supporting Role',
  'Kathy Bates',
  'About Schmidt',
  'Roberta Hertzel',
  0,
  9),
 ('Actress -- Supporting Role',
  'Julianne Moore',
  'The Hours',
  'Laura Brown',
  0,
  9),
 ('Actress -- Supporting Role',
  'Queen Latifah',
  'Chicago',
  'Matron Mama Morton',
  0,
  9),
 ('Actress -- Supporting Role',
  'Meryl Streep',
  'Adaptation',
  'Susan Orlean',
  0,
  9),
 ('Actress -- Supporting Role',
  'Catherine Zeta-Jones',
  'Chicago',
  'Velma Kelly',
  1,
  9),
 ('Actor -- Leading Role',
  'Russell Crowe',
  'A Beautiful Mind',
  'John Nash',
  0,
  10),
 ('Actor -- Leading Role', 'Sean Penn', 'I Am Sam', 'Sam Dawson', 0, 10),
 ('Actor -- Leading Role', 'Will Smith', 'Ali', 'Muhammad Ali', 0, 10),
 ('Actor -- Leading Role',
  'Denzel Washington',
  'Training Day',
  'Alonzo',
  1,
  10),
 ('Actor -- Leading Role',
  'Tom Wilkinson',
  'In the Bedroom',
  'Matt Fowler',
  0,
  10),
 ('Actor -- Supporting Role', 'Jim Broadbent', 'Iris', 'John Bayley', 1, 10),
 ('Actor -- Supporting Role', 'Ethan Hawke', 'Training Day', 'Jake', 0, 10),
 ('Actor -- Supporting Role',
  'Ben Kingsley',
  'Sexy Beast',
  'Don Logan',
  0,
  10),
 ('Actor -- Supporting Role',
  'Ian McKellen',
  'The Lord of the Rings: The Fellowship of the Ring',
  'Gandalf',
  0,
  10),
 ('Actor -- Supporting Role', 'Jon Voight', 'Ali', 'Howard Cosell', 0, 10),
 ('Actress -- Leading Role',
  'Halle Berry',
  "Monster's Ball",
  'Leticia Musgrove',
  1,
  10),
 ('Actress -- Leading Role', 'Judi Dench', 'Iris', 'Iris Murdoch', 0, 10),
 ('Actress -- Leading Role', 'Nicole Kidman', 'Moulin Rouge', 'Satine', 0, 10),
 ('Actress -- Leading Role',
  'Sissy Spacek',
  'In the Bedroom',
  'Ruth Fowler',
  0,
  10),
 ('Actress -- Leading Role',
  'Renée Zellweger',
  "Bridget Jones's Diary",
  'Bridget Jones',
  0,
  10),
 ('Actress -- Supporting Role',
  'Jennifer Connelly',
  'A Beautiful Mind',
  'Alicia Nash',
  1,
  10),
 ('Actress -- Supporting Role',
  'Helen Mirren',
  'Gosford Park',
  'Mrs. Wilson',
  0,
  10),
 ('Actress -- Supporting Role',
  'Maggie Smith',
  'Gosford Park',
  'Constance, Countess of Trentham',
  0,
  10),
 ('Actress -- Supporting Role',
  'Marisa Tomei',
  'In the Bedroom',
  'Natalie Strout',
  0,
  10),
 ('Actress -- Supporting Role',
  'Kate Winslet',
  'Iris',
  'Young Iris Murdoch',
  0,
  10)]

In [13]:
#populating the nominations_two table
conn.executemany(insert_query2, joined_nominations)

#### Let's check out the new table, "nominations_two" that we just made.

In [14]:
q9 = "SELECT * FROM nominations_two LIMIT 5"
result = cursor.execute(q9)
result = result.fetchall()
result[0:5]

[(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0, 1),
 (2,
  'Actor -- Leading Role',
  'Jeff Bridges',
  'True Grit',
  'Rooster Cogburn',
  0,
  1),
 (3,
  'Actor -- Leading Role',
  'Jesse Eisenberg',
  'The Social Network',
  'Mark Zuckerberg',
  0,
  1),
 (4,
  'Actor -- Leading Role',
  'Colin Firth',
  "The King's Speech",
  'King George VI',
  1,
  1),
 (5,
  'Actor -- Leading Role',
  'James Franco',
  '127 Hours',
  'Aron Ralston',
  0,
  1)]

#### We can change the table name of nominations_two back to nominations, replacing the table.

In [15]:
#We can drop the table "nominations" with the DROP TABLE sql command
q10 = "DROP TABLE nominations"
conn.execute(q10)

q11 = "ALTER TABLE nominations_two RENAME TO nominations"
conn.execute(q11)

#### We can repeat the process and create three new tables and use have their IDs cross reference each other.

In [16]:
q11 = '''
    CREATE TABLE movies(
    id integer PRIMARY KEY,
    movie text
)'''


q12 = '''
    CREATE TABLE actors(
    id integer PRIMARY KEY,
    actor text
)'''

q13 = '''
    CREATE TABLE movies_actors(
    id integer PRIMARY KEY,
    movie_id integer references movies(id),
    actor_id integer references actors(id)
    );
'''

In [17]:
conn.execute(q11)
conn.execute(q12)

In [18]:
conn.execute(q13)

In [19]:
insert_into_movies = "INSERT INTO movies (movie) SELECT nominations.movie from nominations"
insert_into_actors = "INSERT INTO actors (actor) SELECT nominations.nominee from nominations"

In [20]:
conn.execute(insert_into_movies)
conn.execute(insert_into_actors)

In [21]:
print(conn.execute("SELECT * FROM actors LIMIT 5").fetchall())
print(conn.execute("SELECT * FROM movies LIMIT 5").fetchall())

[(1, 'Javier Bardem'), (2, 'Jeff Bridges'), (3, 'Jesse Eisenberg'), (4, 'Colin Firth'), (5, 'James Franco')]
[(1, 'Biutiful'), (2, 'True Grit'), (3, 'The Social Network'), (4, "The King's Speech"), (5, '127 Hours')]

In [22]:
q14 = "SELECT movie, nominee FROM nominations"
list_actors_movies = conn.execute(q14).fetchall()
list_actors_movies[0:5]

[('Biutiful', 'Javier Bardem'),
 ('True Grit', 'Jeff Bridges'),
 ('The Social Network', 'Jesse Eisenberg'),
 ("The King's Speech", 'Colin Firth'),
 ('127 Hours', 'James Franco')]

In [26]:
insert_query = '''
    INSERT INTO movies_actors(movie_id, actor_id)
    VALUES ((SELECT id FROM movies WHERE movie == ?), (SELECT id from actors where actor == ?))
'''
conn.executemany(insert_query, list_actors_movies)

print(conn.execute("SELECT * FROM movies_actors LIMIT 5").fetchall())

[(1, 1, 1), (2, 2, 2), (3, 3, 3), (4, 4, 4), (5, 5, 5)]